<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenmanman.manmoviebackend.mapper.ActorMapper">

    <resultMap id="BaseResultMap" type="cn.chenmanman.manmoviebackend.domain.entity.ActorEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="photoUrl" column="photo_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,photo_url
    </sql>
</mapper>
